body {
    font-family: Arial, sans-serif;
}

.data-container table {
    border-collapse: collapse;
}

.data-container th, .data-container td {
    text-align: left;
    padding: 8px;
}

.data-container tr:nth-child(even){background-color: #f2f2f2}

.data-container th {
    background-color: #4CAF50;
    color: white;
}

button {
    width: 55px;
}

.notification-popup {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 400px;
    padding: 10px;

    opacity: 0;
    transition: opacity 0.5s;
}

.notification-popup.visible {
    opacity: 100;
}

.notification-popup.failure {
    background: red;
    color: #ffffff;
}

.notification-popup.success {
    background: green;
    color: #ffffff;
}